<%- include('../header') %>

<form method="POST" action="/categorias/nova">
    <div class="form-group">
        <label for="categoria">Categoria</label>
        <input type="text" class="form-control" id="categoria" name="categoria" placeholder="Insira o nome da categoria">
      </div>
      <button type="submit" class="btn btn-primary">Salvar</button>
  
  </form> 
  
  <%- include('../footer') %>